body {
  background-color: #f3f6fc;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  color: #2d3a5c;
}

ul {
  padding: 15px;
  margin: 0px;
}

.main {
  background-color: #dce9ff;
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  border-radius: 20px;
  padding-bottom: 50px;
}

.main--subtitles {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

.chat-window {
  display: flex;
  border-radius: 1px;
  width: 80%;
}

#outputArea {
  background-color: lightblue;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#promptInput {
  border-radius: 8px 0px 0px 8px;
  border: 0px;
  padding: 8px;
  padding-top: 15px;
}

textarea {
  width: 600px;
  overflow: hidden;
}

#prompt-submit-button {
  border: none;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  border: 0px;
  padding: 8px;
  padding-top: 15px;
  background-color: white;
}

#outputArea {
  display: flex;
  width: 75%;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
}